<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
    <link rel="stylesheet" href="../static/style/main.css">
</head>
<body>
    <header>
        <div class="container">
            <div id="branding">
                <h1>Sobre o Sistema</h1>
            </div>
            <nav>
                <ul>
                    <li><a href="cadastro.html">Home</a></li>
                    <li><a href="login.html">Login</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="container">
        <h2>Sobre</h2>
        <p>Este sistema foi desenvolvido para gerenciar usuários e administradores, permitindo cadastro, login, e gerenciamento de contas.</p>
    </div>
    
        <h3>Integrantes do grupo</h3>
              <p>Daniel de Carvalho Lima</p>        
              <p>RA:202208718027</p>
           
              <p>Gabriel Rocha dos Santos</p>          
              <p>RA:202302704328</p>
          
              <p>Igor Henrique Rocha Volpe</p>
              <p>RA:202302610821</p>
          
              <p>Lucas Teixeira Alexandre</p>
              <p>RA:202211299935</p>
          
              <p>Gustavo Pascoal Novais Batista </p>
              <p>RA:202302380931</p>
         
    </div>
    
    
</body>
</html>
