<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuários</title>
    <link rel="stylesheet" type="text/css" href="../static/style/styles.css">
</head>
<body>
    <h1>Lista de Usuários</h1>
    <ul>
        {% for usuario in usuarios %}
            <li>
                <strong>Nome:</strong> {{ usuario.nome }}<br>
                <strong>E-mail:</strong> {{ usuario.email }}<br>
                <a href="{{ url_for('editarUsuario', id=usuario.id) }}">Editar</a> | 
                <form action="{{ url_for('deletarUsuario', id=usuario.id) }}" method="post" style="display: inline;">
                    <button type="submit">Deletar</button>
                </form>
            </li>
        {% endfor %}
    </ul>
    <a href="/cadastrarUsuario">Cadastrar Novo Usuário</a>
</body>
</html>
